.sideNav{
       display: flex;
       justify-content: space-around;
       flex-direction: row;
       background-color: #840606;
       color: white;
       .side{
              padding: 15px;
              cursor: pointer;
              &.active{
                     background-color: #d12525;
              }
              &.deactive{
                     background-color: #840606;
              }
       }
}



.main{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       .content{
              display: flex;
              flex-wrap: wrap;
              
              justify-content: space-evenly;
              .cards{
                     border: 1px solid black;
                     width: 28%;
                     display: flex;
                     margin: 3px;
                     flex-direction: column;
                     align-items: center;
                     h1,h3,p{
                            margin: 3px;
                            padding: 4px;
                     }
                     button{
                            background-color: #0a7405;
                            color: white;
                     }
                    img{
                     width: 200px;
                     height: 200px;
                    }
                    
              }
       }
}
